<head>
  <title>SecureNotes</title>
</head>

<body>
  
<div class="container"
     ng-app="SecureNotes"
     ng-controller="NotesCtrlr">
     <header>
     <h1>SecureNotes {{ unCompletedtasks() }}</h1>
     
    <login-buttons></login-buttons>
    
        <!-- add a form below the h1 -->
    <form class="new-task" ng-submit="searchNotes(searchText); searchText='';" ng-show="$root.currentUser">
      <input ng-model="searchText" type="text"
             name="text" placeholder="Search notes" />
    </form>
    
        <!-- add a form below the h1 -->
    <form class="new-task" ng-submit="addNote(newNote); newNote='';" ng-show="$root.currentUser">
      <input ng-model="newNote" type="text"
             name="text" placeholder="Type to add new Notes/tasks" />
    </form>
     </header>
     
    <ul>
    <li ng-repeat="note in notes" >
      <button class="delete" ng-click="deleteNote(note);">&times;&#9851;</button>

      <span class="text">
        <strong>{{note.username}}</strong> - {{note.note}}
      </span>
    </li>
    
  </ul>
  
</div>

</body>


